<!DOCTYPE html>
<html>
  <head>
    <title>Tipos de Usuarios</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <meta charset="utf-8">
  </head>
  <body>
    <div class="container">
      <div class="alert alert-danger" id="popAlertDanger" role="alert">
			  A simple danger alert—check it out!
			</div>
      <div class="alert alert-warning" id="popAlertWarning" role="alert">
			  A simple warning alert—check it out!
			</div>
      <div class="alert alert-info" id="popAlertInfo" role="alert">
			  A simple info alert—check it out!
			</div>
      <div class="card" style="margin-top:12px">
        <div class="card-header">
          <h2 class="card-title">Log de Cadastro de Usuarios</h2>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-3">
              <input type="text" class="form-control" name="txtPesquisar" id="txtPesquisar" placeholder="Pesquise aqui"
						>
            </div>
          </div>

          <table class="table" id="tbRetorno" style="margin-top: 12px">
            <thead>
              <th scope="col">Codigo_usuario</th>
              <th scope="col">nome_usuario</th>
              <th scope="col">Codigo_tipo_usuario</th>
              <th scope="col">Codigo_cargo_usuario</th>
              <th scope="col">login</th>
              <th scope="col">status</th>
              <th scope="col">acao</th>
              <th scope="col">usuario</th>
              <th scope="col">data_hora</th>
            </thead>
            <tbody id="corpoTbRetorno"></tbody >
          </table>
        </div>
      </div>
    </div>
    <!--ALterar controler JS -->
    <script src="/estagio/controlers_js/LogUsuarioControler.js"></script>
    <script src="/estagio/scripts/jquery.js"></script>
  </body>
</html>